# === Python général ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.tmp
*.bak

# === Environnements virtuels ===
.venv/
venv/
env/
ENV/

# === Streamlit & cache ===
.streamlit/
.cache/
config.toml

# === VS Code ===
.vscode/
*.code-workspace

# === macOS ===
.DS_Store
.AppleDouble
.LSOverride

# === Fichiers temporaires ===
*.swp
*.swo
*~

# === Archives ou données lourdes ===
*.zip
*.tar
*.gz
*.rar

# === fichiers secrets ou API ===
*.env
.env.local
secrets.json
.venv/
